<form action="/food" method="POST">
    <label for="name">
        Name:
    </label>
    <input name="name"/>

    <label for="price">
        Price:
    </label>
    <input name="price" />

    <label for="image_url">
        Image Url:
    </label>
    <input name="image_url" />

    <input type="submit" value="Add food" />
</form>